/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom style */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    font-size:16px;
    line-height: 1.2;
}
.container{
    max-width:1000px;
    margin: 0 auto;
    padding: 0 32px;
    /* border: 1px solid red; */
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media{
    width:90%;
    margin: 0 auto;
    background-color:black;
}

.h1{
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}
.text{
    color: #fff;
    text-transform: capitalize;
}
.btn{
    width:20px;
    height: 10px;
    background-color: radial-gradient(to left,blue, #3ebfa6);
}
/* Social-media  */
.box{
    width:215px;
    height:195px;
    padding: 30px;
    background-color: #20222d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.sort{
    display: flex;
    align-items: center;
}

.facebook i{
    color:#2a82d4;
}
.twitter i{
    color:#2a82d4;
}
.instagram i{
    background-color: radial-gradient(to right, #feb968,#d75291);
}
.youtube i{
    color: #7a1736;
}
.box-1{
    border-top: 4px solid #2a82d4;
    color: #fff;
}
.box-2{
    border-top: 4px solid #2a82d4;
    color: #fff;
}
.box-3{
    /* border-top: 4px solid #7a1736; */
    color: #fff;
}
.box-4{
    border-top: 4px solid #7a1736;
    color: #fff;
}
.id{
    color:grey;
}
.date{
    color: green;
    font-weight: 700;
}
.number{
    font-size: 35px;
    font-weight: 900;
}
/* Rectangle Column */
h3{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 10px;
}
.rec{
    width:210px;
    height:120px;
    color: #fff;
    background-color:#20222d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    margin-bottom: 50px;
}
.flex-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rec-number{
    font-size: 25px;
    font-weight: 900;
}




